.eclair{
  display :flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
}
.eclair h2{
  color: red;

}
.d-flex{
  display :flex!;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-arround{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
